# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
.env
*.db
db_backups/
datadump/
/data/        # only ignore root-level data folder
!/process/data/  # but allow process/data/ to be tracked
!/postprocess/data/  # but allow postprocess/data/ to be tracked
!/postprocess
!/postprocess/utils
!/postprocess/config
!/postprocess/processors
!/postprocess/data
googlecloud.json
*.log

# OS specific
.DS_Store
Thumbs.db
