{% extends "main-layout.html" %}

{% block title %}Postprocessing - Bill Review Portal{% endblock %}

{% block main %}
<div class="container mt-4">
    <h1>Postprocessing</h1>
    <p class="lead">Review and finalize your processed bills.</p>
    <hr>
    <div class="panel">
        <div class="panel-heading">
            <h5 class="panel-title">Coming Soon</h5>
        </div>
        <div class="panel-body">
            <div class="alert alert-info mb-0">
                This section will be implemented soon with bill finalization features.
            </div>
        </div>
    </div>
</div>
{% endblock %} 